*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*:focus{
    outline: none;
}
 
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://media.istockphoto.com/photos/blurry-food-showcase-picture-id479977130?k=6&m=479977130&s=170667a&w=0&h=igEv4CTKm27Suxkd-8iMldrI4QwtqxpyUQnAWgvu2iU=);
    fill-opacity: calc(20px);
    background-size: cover;
    background-position: center;  
    font-family: 'roboto', sans-serif;
} 
.form{
    height: auto;
    width: 400px;
   
    color: #fff; 
    font-family: 'roboto', sans-serif;
}
.heading{
   text-transform: capitalize;
   text-align: center;
   font-size: 80px;
   font-weight: 300;
   margin-bottom: 50px ;
   opacity: 0;
}

input {
    width: 80%;
    height: 35%;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
   padding: 15px;
   transition: 0.5s;
   text-transform: capitalize;
   opacity: 0;

 }
 .submit-btn{
    width: 80%;
    height: 30px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #131212;
    padding: 15px;
    transition: 0.5s;
    text-transform: capitalize;
    opacity: 0;
 }

input::placeholder{
    color: #fffefe;
}
input:focus{
    background: #ffffff;
    color: #000000;
}
.submit-btn:hover{
    background: #2a271050;
    color: #ffffff;
}

input:focus::placeholder{
    color: #000;
}
.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 0;
}
.link{
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(251, 0, 0, 0.426);
    display: block;
    margin: 30px auto;
}

.link:hover{
    color:rgb(255, 0, 0);
}

/* .alert-box{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgba(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    color: white;
    font-family: 'roboto', sans-serif;
    text-align: center;

} */
